<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/head.html' %}
    <title>New operator</title>
    {% include 'common/modify_table_style.html' %}
    {% from 'common/error_box.jinja' import error_box %}
</head>
<body>
{% include 'common/page_header.html' %}
<h2>Add new operator</h2>

{% if error_messages %}
    {{ error_box(error_messages) }}
{% endif %}

<form method="post">
    <table>
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label for="name_english">Name (English)</label></td>
            <td>
                <input type="text" maxlength="255" id="name_english" name="name_english" required>
            </td>
        </tr>
        <tr>
            <td><label for="name_native">Name (Native)</label></td>
            <td>
                <input type="text" maxlength="255" id="name_native" name="name_native" required>
            </td>
        </tr>
        <tr>
            <td><label for="default_base_fare">Default Base Fare</label></td>
            <td>
                <input type="number" id="default_base_fare" name="default_base_fare" min="0" required>
            </td>
        </tr>
        <tr>
            <td><label for="default_fare_per_km">Default Fare/km</label></td>
            <td>
                <input type="number" id="default_fare_per_km" name="default_fare_per_km" min="0" required>
            </td>
        </tr>
        <tr>
            <td>
                <input class="generic-button" type="submit" value="Submit Changes">
            </td>
            <td>
                <a class="generic-button" type="button" href="/operators">Cancel</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>