{% macro error_box(messages) %}
    <div class="error-box">
        {% for message in messages %}
            <p class="error-message">{{ message }}</p>
        {% endfor %}
    </div>
{% endmacro %}