<style>
    table {
        border-collapse: collapse;
        width: 50%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 105%;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #A5A58D;
        color: #000;
        border: 1px solid black;
    }

    thead td:first-child {
        vertical-align: middle;
        text-align: center;
    }

    th a {
        color: #000;
    }

    td {
        border: 1px solid;
    }

    table tr:nth-child(odd) td {
        background-color: #EDDCD2;
    }

    table tr:nth-child(even) td {
        background-color: #FFF1E6;
    }

</style>